@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

h1{
    font-family: 'Montserrat',sans-serif, Arial, Helvetica;
    color: #ffff;
    font-size: 2.2em;
    text-align: center;
}

body{
    background-image: linear-gradient(45deg, #08203e, #557c93);
    width: 100vw;
    height: 100vh;
}

main{
    padding: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #ffff;
    width: 400px;
    height: 250px;
    padding: 14px;
    border-radius: 4px;
}

span#res_temp{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 14px;
}

span{
    background-color: #97efffd0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

select{
    width: 200px;
    height: 30px;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 8px;
}

input{
    width: 120px;
    padding: 4px;
}

#btn{
    font-family: 'Montserrat', arial, sans-serif;
    background-color: #211c1c;
    color: #ffff;
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 33px;
    padding: 7px;
    margin-top: 13px; 
}

.box-select{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
